<style>
    #container {
        margin: 0.5rem;
        height: auto;
        box-sizing: border-box;
    }
    .info{
        margin-bottom: 1rem;
    }
</style>


<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Paul Leone Final Project</span>
    </div>
</nav>
<div id="container">
    <div class="info">
        <h4>Final Project for CS493. Please Authenticate to begin create your own Boats and its Cargo</h4>
    </div>
    <div class="link">
        <h6>Click the link to authenticate.</h6>
        <a href="/authorize">Authenticate</a>
    </div>
</div>